<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/spinner.css" />
    <script src="js/main.js" defer></script>
    <title>OpenAI Image Generator</title>
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="logo">
          <h2>OpenAI Image Generator</h2>      
    </header>

    <main>
      <section class="showcase">
        <form id="image-form">
          <h1>Describe An Image</h1>
          <div class="form-control">
            <input type="text" id="prompt" placeholder="Enter Text" />
          </div>
          <!-- size -->
          <div class="form-control">
            <select name="size" id="size">
              <option value="small">Small</option>
              <option value="medium" selected>Medium</option>
              <option value="large">Large</option>
            </select>
          </div>
          <button type="submit" class="btn">Generate</button>
        </form>
      </section>

      <section class="image">
        <div class="image-container">
          <h2 class="msg"></h2>
          <img src="" alt="" id="image" />
        </div>
      </section>
    </main>

    <div class="spinner"></div>

    <script>
      function onSubmit(e) {
        e.preventDefault();

        document.querySelector('.msg').textContent = '';
        document.querySelector('#image').src = '';

        const prompt = document.querySelector('#prompt').value;
        const size = document.querySelector('#size').value;

        if (prompt === '') {
          alert('Please add some text');
          return;
        }

        generateImageRequest(prompt, size);
      }

      async function generateImageRequest(prompt, size) {
        try {
          showSpinner();

          const response = await fetch('/openai/generateimage', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              prompt,
              size,
            }),
          });

          if (!response.ok) {
            removeSpinner();
            throw new Error('That image could not be generated');
          }

          const data = await response.json();
          // console.log(data);

          const imageUrl = data.data;

          document.querySelector('#image').src = imageUrl;

          removeSpinner();
        } catch (error) {
          document.querySelector('.msg').textContent = error;
        }
      }

      function showSpinner() {
        document.querySelector('.spinner').classList.add('show');
      }

      function removeSpinner() {
        document.querySelector('.spinner').classList.remove('show');
      }

      document.querySelector('#image-form').addEventListener('submit', onSubmit);
    </script>